#config_version=5

mode:
  start_events: ball_starting
  priority: 100

sound_player:
  mode_base_started:
    Instrumental_track:
      action: play
      loops: -1

shots:
  R_Pop:
    switch: s_right_bumper
  L_Pop:
    switch: s_left_bumper
  M_Pop:
    switch: s_middle_bumper

slide_player:
  mode_base_started: score_slide
  player_added:
    new_player_slide:
      priority: 1000
      
slides:
  score_slide:
    widgets:
      - type: text
        text: (score)
        number_grouping: true
        min_digits: 2
        font_size: 20
        y: 18
      - type: text
        text: PLAYER (number)
        y: 0
        x: 10
        font_size: 10
        anchor_x: left
        anchor_y: bottom
      - type: text
        text: BALL (ball)
        y: 0
        x: right-10
        anchor_x: right
        anchor_y: bottom
        font_size: 10
  new_player_slide:
    expire: 1s
    widgets:
      - type: text
        text: PLAYER (num) ADDED
        font_size: 10

variable_player:
  s_left_saucer_active:
    score: 100 * current_player.pf_multiplier
  s_right_saucer_active:
    score: 100 * current_player.pf_multiplier
  s_load_chamber_active:
    score: 100 * current_player.pf_multiplier
  s_eject_chamer_active:
    score: 100 * current_player.pf_multiplier
  s_left_return_lane_active:
    score: 100 * current_player.pf_multiplier
  s_right_return_lane_active:
    score: 100 * current_player.pf_multiplier
  s_ramp_drop_target_active:
    score: 100 * current_player.pf_multiplier
  s_left_bumper_active:
    score: 100 * current_player.pf_multiplier
  s_middle_bumper_active:
    score: 100 * current_player.pf_multiplier
  s_right_bumper_active:
    score: 100 * current_player.pf_multiplier
  s_right_slingshot_active:
    score: 100 * current_player.pf_multiplier
  s_left_slingshot_active:
    score: 100 * current_player.pf_multiplier
  s_top_lane_R_active:
    score: 100 * current_player.pf_multiplier
  s_top_lane_C_active:
    score: 100 * current_player.pf_multiplier
  s_top_lane_L_active:
    score: 100 * current_player.pf_multiplier
  s_left_outlane_active:
    score: 100 * current_player.pf_multiplier
  s_right_outlane_active:
    score: 100 * current_player.pf_multiplier
  s_top_25K_lane_active:
    score: 100 * current_player.pf_multiplier
  s_top_50K_lane_active:
    score: 100 * current_player.pf_multiplier
  s_left_rollover_active:
    score: 100 * current_player.pf_multiplier
  s_right_rollover_active:
    score: 100 * current_player.pf_multiplier
  s_left_25K_target_active:
    score: 100 * current_player.pf_multiplier
  s_right_25K_target_active:
    score: 100 * crurent_player.pf_multiplier

#counters:
#  lb_Right_Pop_count:
#    count_events: R_Pop_hit
#    starting_count: 1
#    count_complete_value: 0
#    count_interval: 1
#    direction: down
#    persist_state: false
#    events_when_complete: Super_Pop_R_Ready
#    debug: true
#    reset_on_complete: false
#  lb_Left_Pop_count:
#    count_events: L_Pop_hit
#    starting_count: 1
#    count_complete_value: 0
#    direction: down
#    count_interval: 1
#    persist_state: false
#    events_when_complete: Super_Pop_L_Ready
#    debug: true
#    reset_on_complete: false
#  lb_Mid_Pop_count:
#    count_events: M_Pop_hit
#    starting_count: 1
#    count_complete_value: 0
#    direction: down
#    count_interval: 1
#    persist_state: false
#    events_when_complete: Super_Pop_M_Ready
#    debug: true
#    reset_on_complete: false

#accruals:
#  lb_Super_Pops_Enable:
#    events:
#      - Super_Pop_R_Ready
#      - Super_Pop_M_Ready
#      - Super_Pop_L_Ready
#    events_when_complete: Super_Pops_Go
#    persist_state: false
#    reset_on_complete: false
#    debug: true

#event_player:
#  Super_Pops_Go: start_mode_Super_Pops