#config_version=5

mode:
  start_events: Super_Pops_Go
  stop_events: ball_ended
  priority: 500

#sound_player:
#  mode_Super_Pops_started:
#    Bombshell_track:
#      action: play
#      loops: -1

#  mode_Super_Pops_stopped:
#    Bombshell_track:
#      action: stop

#  ball_ended:
#    Bombshell_track:
#      action: stop

variable_player:
  s_left_bumper_active:
    score: 5000 * current_player.pf_multiplier|block
  s_right_bumper_active:
    score: 5000 * current_player.pf_multiplier|block
  s_middle_bumper_active:
    score: 5000 * current_player.pf_multiplier|block

show_player:
  mode_Super_Pops_started: 
    bombshell_startup:
      loops: 0